.about-us{
    background-color: rgb(14, 13, 19);

    .texts{
        margin: 32px 0px;
    }

    .cover{
        margin-top: 8px;
        background-position: 0% 47%;
        height: 580px;
        background-size: cover;

        @media(max-width: 425px){
            margin-top: 8px;
            background-position: 0% 47%;
            height: 481px;
            background-size: cover;
            background-position-x: -238px;
        }
    }

    .text-content{
        font-family: Georgia, serif;
        font-size: 17px;
        padding: 0px 64px;
        line-height: 28px;
        overflow-wrap: break-word;
        color: white;

        @media(max-width: 425px){
            font-family: Georgia, serif;
            font-size: 18px;
            padding: 0px 8px;
            line-height: 28px;
            overflow-wrap: break-word;
            color: white;
            text-align: justify;
        }
    }
}