.home-videos{
    background-color: white!important;

    padding-top: 32px;
}

.video-list{
    .title{
        color: rgb(0, 0, 0);
        font-family: "Ubuntu", sans-serif;
        font-size: 32px;
        text-align: center;
        margin: 16px 4px;
        width: calc(100px - 4px);
    }

    iframe{
        // @media(max-width: 320px){
        //     height: 210px;
        // }
        @media(max-width: 1440px){
            height: calc(680px + 16px);
        }
        @media(max-width: 1024px){
            height: calc(580px + 16px);
        }
        @media(max-width: 768px){
            height: calc(460px + 16px);
        }
    }

    

    .video-slot-separator{
        width: 95%;
        background-color: rgba(50, 51, 59, 0.808);
        height: 1px;
        margin-bottom: 64px;
    }
}