.naked-link {
    &:hover {
        text-decoration: none;
    }
}

.mensagem-de-erro {
    color: #ffffff;
    background-color: #b91212;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.animate-on-scroll {
    transition: all ease-out 1s;

    &.tempo-2 {
        transition-duration: 2s;
    }

    &.tempo-1-2 {
        transition-duration: 0.5s;
    }

    &.tempo-2-3 {
        transition-duration: calc(2 / 3) s;
    }

    &.tempo-3-4 {
        transition-duration: calc(3 / 4) s;
    }

    &.delay-2 {
        transition-delay: 2s;
    }

    &.delay-1 {
        transition-delay: 1s;
    }

    &.delay-1-2 {
        transition-delay: 0.5s;
    }

    &.delay-3-2 {
        transition-delay: 1.5s;
    }

    &.delay-4 {
        transition-delay: 4s;
    }

    &.fadeOut {
        opacity: 0;
    }

    &.fadeIn {
        opacity: 1;
    }

    &.encolhidoNoX {
        transform: scaleY(0) translateY(100%);
    }

    &.esticadoNoX {
        transform: scaleY(1) translateY(0%) !important;
    }
}

.modal-setup {
    visibility: hidden;

    &.show-modal {
        visibility: visible;
    }
}

.layout2-home .yellow_btn_modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .modal-window {
        background-color: #4c4c4c;
        padding: 45px 70px;

        max-width: 580px;
        border-radius: 10%;

        @media (max-width: 425px) {
            padding: 16px 16px;
            border-radius: 5%;
        }
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .textao {
        color: white;
        font-size: 32px;
        text-align: center;
        margin-bottom: 8px;

        @media (max-width: 425px) {
            color: white;
            font-size: 24px;
            text-align: center;
            margin-bottom: 16px;
            line-height: 1.1;
        }
    }
    .texto-azul {
        // color: rgb(25, 45, 82);
        color: #9cc2fd;
        font-weight: bold;
        font-size: 18px;
        font-family: serif;
        text-align: center;
        margin-bottom: 8px;

        @media (max-width: 425px) {
            color: #9cc2fd;
            font-weight: bold;
            font-size: 16px;
            font-family: serif;
            text-align: center;
            margin-bottom: 16px;
            line-height: 1.1;
        }
    }
    .texto-branco {
        color: white;
        font-size: 18px;
        font-family: serif;
        text-align: center;
        margin-bottom: 8px;

        @media (max-width: 425px) {
            color: white;
            font-size: 18px;
            font-family: serif;
            text-align: center;
            margin-bottom: 8px;
            line-height: 1.1;
        }
    }
    input[type="text"] {
        border: 1px solid white;
        background-color: rgb(127, 96, 0);
        padding: 12px;
        height: 50px;
        width: 100%;
        margin-top: 16px;
        margin-bottom: 4px;
        color: white;

        &::placeholder {
            color: rgb(199, 199, 199);
        }

        border-radius: 12px;

        @media (max-width: 425px) {
            height: 40px;
            margin-top: 8px;
            border-radius: 6px;
        }
    }
    input[type="submit"] {
        margin-top: 32px;
        border: 1px solid white;
        background-color: rgb(242, 242, 242);
        border-radius: 30px;
        padding: 6px 32px;
        cursor: pointer;
        color: rgb(127, 96, 0);
        font-size: 24px;
        font-family: serif;

        &:hover {
            background-color: rgb(250, 249, 210);
        }

        @media (max-width: 425px) {
            margin-top: 16px;
        }
    }
}

.layout2.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 64px;

    background-color: black;

    @media (max-width: 425px) {
        padding: 32px 0px;
        justify-content: center;
    }

    > .row {
        @media (max-width: 1024px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @media (max-width: 1024px) {
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 425px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 120px;
            margin-right: 16px;

            @media (max-width: 425px) {
                margin-bottom: 16px !important;
                margin-right: 0px;
            }
        }

        .nome-grande {
            font-size: 38px;
            font-weight: bold;
            line-height: 1;
            color: white;
            font-family: "Amatic SC";
            padding-bottom: 4px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            animation: balangaLogo 3s 1s ease infinite;
            -moz-animation: balangaLogo 3s 1s ease infinite;
            -webkit-animation: balangaLogo 3s 1s ease infinite;
            -o-animation: balangaLogo 3s 1s ease infinite;

            /* Animation Keyframes*/
            @keyframes balangaLogo {
                0% {
                    transform: rotateZ(-2deg);
                }
                50% {
                    transform: rotateZ(2deg);
                }
                100% {
                    transform: rotateZ(-2deg);
                }
            }

            @-moz-keyframes balangaLogo {
                0% {
                    transform: rotateZ(-2deg);
                }
                50% {
                    transform: rotateZ(2deg);
                }
                100% {
                    transform: rotateZ(-2deg);
                }
            }

            @-webkit-keyframes balangaLogo {
                0% {
                    transform: rotateZ(-2deg);
                }
                50% {
                    transform: rotateZ(2deg);
                }
                100% {
                    transform: rotateZ(-2deg);
                }
            }

            @-o-keyframes balangaLogo {
                0% {
                    transform: rotateZ(-2deg);
                }
                50% {
                    transform: rotateZ(2deg);
                }
                100% {
                    transform: rotateZ(-2deg);
                }
            }
        }

        .nome-pequeno {
            line-height: 1;
            color: white;
            font-size: 24px;
            margin-top: 8px;

            @media (max-width: 425px) {
                text-align: center;
                display: flex;
                margin: 16px;
            }
        }

        .dflex {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .site-navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: 1024px) {
            justify-content: center;
            align-items: center;
            margin: 16px 0px;
        }

        @media (max-width: 425px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .menu-opener {
                display: flex;
                justify-content: center;
                align-items: center;

                color: white;
                font-size: 42px;
                margin-bottom: 6px;
            }
        }

        .menu-item {
            color: white;
            padding: 0px 16px;

            @media (max-width: 425px) {
                margin: 6px 0px;
                border-left: 1px solid rgb(207, 207, 207);
                border-right: 1px solid white;
                border-bottom: 1px solid rgb(138, 138, 138);
                font-size: 20px;
            }
        }
    }
}

.layout2-home {
    .top-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        .caroussel.mobile-only {
            .slide {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        img {
            width: 100%;
            height: auto;

            @media (max-width: 425px) {
                height: 620px;
            }
        }

        > div {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            left: 50%;
            transform: translateX(-50%);

            &.de-cima {
                top: calc(128px + 64px);

                @media (max-width: 1440px) {
                    top: 200px;
                }

                @media (max-width: 768px) {
                    top: 64px;
                }
            }

            &.de-baixo {
                bottom: 256px;

                @media (max-width: 1440px) {
                    bottom: 69px;
                }

                @media (max-width: 425px) {
                    bottom: 100px;
                }
            }
        }

        .laranja-texto {
            font-size: 72px;
            font-weight: bold;
            text-transform: uppercase;
            //color: #ed7d31;

            font-size: 72px;
            background: -webkit-linear-gradient(rgba(255,226,110,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(255,234,0,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-family: sans-serif;
            //text-shadow: -3px 3px ;

            @media (max-width: 1024px) {
                font-size: 60px;
                text-align: center;
            }

            @media (max-width: 425px) {
                font-size: 36px;
                text-align: center;
                line-height: 1.2;
                margin-bottom: 32px;
            }

            @media (max-width: 320px) {
                font-size: 28px;
                text-align: center;
                line-height: 1.2;
                margin-bottom: 32px;
            }
        }

        .branco-medio-texto {
            font-size: 32px;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-family: sans-serif;
            text-shadow: -3px 3px black;

            @media (max-width: 425px) {
                font-size: 24px;
                text-align: center;
            }

            @media (max-width: 425px) {
                font-size: 18px;
            }
        }

        .branco-grande-texto {
            font-size: 40px;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-family: sans-serif;

            @media (max-width: 425px) {
                font-size: 18px;
                margin-top: 16px;
                text-shadow: -3px 3px black;
            }
        }

        .faixa-transparente {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 64px 0px;

            background: rgba(33, 71, 99, 0.1);
            background: -moz-linear-gradient(
                left,
                rgba(33, 71, 99, 0.1) 0%,
                rgba(33, 71, 99, 1) 47%,
                rgba(33, 71, 99, 0.1) 100%
            );
            background: -webkit-gradient(
                left top,
                right top,
                color-stop(0%, rgba(33, 71, 99, 0.1)),
                color-stop(47%, rgba(33, 71, 99, 1)),
                color-stop(100%, rgba(33, 71, 99, 0.1))
            );
            background: -webkit-linear-gradient(
                left,
                rgba(33, 71, 99, 0.1) 0%,
                rgba(33, 71, 99, 1) 47%,
                rgba(33, 71, 99, 0.1) 100%
            );
            background: -o-linear-gradient(
                left,
                rgba(33, 71, 99, 0.1) 0%,
                rgba(33, 71, 99, 1) 47%,
                rgba(33, 71, 99, 0.1) 100%
            );
            background: -ms-linear-gradient(
                left,
                rgba(33, 71, 99, 0.1) 0%,
                rgba(33, 71, 99, 1) 47%,
                rgba(33, 71, 99, 0.1) 100%
            );
            background: linear-gradient(
                to right,
                rgba(33, 71, 99, 0.1) 0%,
                rgba(33, 71, 99, 1) 47%,
                rgba(33, 71, 99, 0.1) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214763', endColorstr='#214763', GradientType=1 );

            @media (max-width: 425px) {
                padding: 8px 0px;
            }
        }

        .branco-pequeno-texto {
            font-size: 36px;
            color: rgb(255, 255, 255);

            @media (max-width: 1024px) {
                font-size: 25px;
            }

            @media (max-width: 425px) {
                font-size: 18px;
                text-align: center;
                padding: 16px;
            }
        }

        .botao-amarelo {
            color: white;
            font-family: sans-serif;
            font-weight: bold;
            // background-color: rgb(127, 96, 0);

            // v2
            // background: rgba(255,215,15,1);
            // background: -moz-linear-gradient(top, rgba(255,215,15,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(189,104,0,1) 100%);
            // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,215,15,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(189,104,0,1)));
            // background: -webkit-linear-gradient(top, rgba(255,215,15,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(189,104,0,1) 100%);
            // background: -o-linear-gradient(top, rgba(255,215,15,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(189,104,0,1) 100%);
            // background: -ms-linear-gradient(top, rgba(255,215,15,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(189,104,0,1) 100%);
            // background: linear-gradient(to bottom, rgba(255,215,15,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(189,104,0,1) 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd70f', endColorstr='#bd6800', GradientType=0 );

            // v1 "ouro"
            // background: rgba(252,234,187,1);
            // background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
            // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
            // background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
            // background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
            // background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
            // background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );

            // v1 ouro de vdd
            background: rgba(255,216,18,1);
            background: -moz-linear-gradient(top, rgba(255,216,18,1) 0%, rgba(128,96,0,1) 71%, rgba(128,96,0,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,216,18,1)), color-stop(71%, rgba(128,96,0,1)), color-stop(100%, rgba(128,96,0,1)));
            background: -webkit-linear-gradient(top, rgba(255,216,18,1) 0%, rgba(128,96,0,1) 71%, rgba(128,96,0,1) 100%);
            background: -o-linear-gradient(top, rgba(255,216,18,1) 0%, rgba(128,96,0,1) 71%, rgba(128,96,0,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,216,18,1) 0%, rgba(128,96,0,1) 71%, rgba(128,96,0,1) 100%);
            background: linear-gradient(to bottom, rgba(255,216,18,1) 0%, rgba(128,96,0,1) 71%, rgba(128,96,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd812', endColorstr='#806000', GradientType=0 );

            text-shadow: 1px 1px black;

            padding: 16px 48px;
            padding-top: 24px;
            font-size: 24px;
            margin-top: 8px;
            cursor: pointer;

            transition: all ease-out 0.4s;

            &:hover {
                background: rgba(255,241,173,1);
                background: -moz-linear-gradient(top, rgba(255,241,173,1) 0%, rgba(255,241,173,1) 1%, rgba(255,216,18,1) 27%, rgba(173,146,12,1) 69%, rgba(128,96,0,1) 94%, rgba(255,215,94,1) 98%, rgba(255,215,94,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,241,173,1)), color-stop(1%, rgba(255,241,173,1)), color-stop(27%, rgba(255,216,18,1)), color-stop(69%, rgba(173,146,12,1)), color-stop(94%, rgba(128,96,0,1)), color-stop(98%, rgba(255,215,94,1)), color-stop(100%, rgba(255,215,94,1)));
                background: -webkit-linear-gradient(top, rgba(255,241,173,1) 0%, rgba(255,241,173,1) 1%, rgba(255,216,18,1) 27%, rgba(173,146,12,1) 69%, rgba(128,96,0,1) 94%, rgba(255,215,94,1) 98%, rgba(255,215,94,1) 100%);
                background: -o-linear-gradient(top, rgba(255,241,173,1) 0%, rgba(255,241,173,1) 1%, rgba(255,216,18,1) 27%, rgba(173,146,12,1) 69%, rgba(128,96,0,1) 94%, rgba(255,215,94,1) 98%, rgba(255,215,94,1) 100%);
                background: -ms-linear-gradient(top, rgba(255,241,173,1) 0%, rgba(255,241,173,1) 1%, rgba(255,216,18,1) 27%, rgba(173,146,12,1) 69%, rgba(128,96,0,1) 94%, rgba(255,215,94,1) 98%, rgba(255,215,94,1) 100%);
                background: linear-gradient(to bottom, rgba(255,241,173,1) 0%, rgba(255,241,173,1) 1%, rgba(255,216,18,1) 27%, rgba(173,146,12,1) 69%, rgba(128,96,0,1) 94%, rgba(255,215,94,1) 98%, rgba(255,215,94,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1ad', endColorstr='#ffd75e', GradientType=0 );

                // border: 6px solid rgb(127, 96, 0);
                text-decoration: none;
            }
        }
    }
}

.desktop-only {
    @media (max-width: 425px) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: 426px) {
        display: none !important;
    }
}

.layout2-home {
    .topic-slot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 32px;

        .icone i {
            color: rgb(51, 51, 51);
            font-size: 64px;
            margin-top: 32px;
        }

        .texto {
            color: black;
            font-weight: bold;
            font-family: sans-serif;
            font-size: 28px;
            text-align: center;
            line-height: 1.3;
            padding: 16px;
        }

        .conteudo {
            color: rgb(134, 131, 156);
            font-family: sans-serif;
            font-size: 20px;
            text-align: center;
            line-height: 1.3;
            padding: 16px 32px;
        }

        .red-link {
            color: #ff9b00;
            font-size: 24px;
            text-decoration: underline;
        }
    }

    .options {
        background-color: rgb(242, 242, 242);
        position: relative;

        .topic-slot {
            cursor: pointer;

            &:hover {
                background-color: rgb(118, 113, 113);

                .icone i {
                    color: rgb(177, 176, 176);
                }

                .texto,
                .conteudo {
                    color: white;
                }
            }
        }

        .topic-modal {
            .modal-window {
                top: 50%;
                left: 50%;
                transform: translateY(-100%) translateX(-50%);
                background-color: rgb(242, 242, 242);
                border: 8px rgb(148, 148, 148) solid;
                max-width: 700px;
                position: fixed;

                @media (max-width: 425px) {
                    width: 0%;
                    position: unset;
                    transform: none;
                    z-index: 5;
                    width: 95%;
                    text-align: center;
                }
            }

            .modal-bg {
                width: 100vw;
                height: 100vh;
                position: fixed;
                background-color: rgba(0, 0, 0, 0.85);
            }

            width: 100vw;
            height: 100vh;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;

            visibility: hidden;
            z-index: 5;

            .close-wrapper {
                position: relative;

                .close {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    font-weight: bolder;
                }
            }

            &.show-modal {
                visibility: visible;

                @media (max-width: 425px) {
                    .modal-window {
                        width: 95%;
                        transition: all ease 1s;
                    }
                }
            }

            .title {
                color: black;
                font-weight: bold;
                font-family: sans-serif;
                font-size: 28px;
                text-align: center;
                line-height: 1.3;
                padding: 16px;
            }

            .conteudo {
                color: rgb(134, 131, 156);
                font-family: sans-serif;
                font-size: 20px;
                text-align: center;
                line-height: 1.3;
                padding: 16px 32px;

                @media (max-width: 425px) {
                    padding: 8px 8px;
                    font-size: 18px;
                }
            }

            .call {
                color: rgb(134, 131, 156);
                font-family: sans-serif;
                font-size: 20px;
                text-align: center;
                line-height: 1.3;
                padding: 16px 32px;

                @media (max-width: 425px) {
                    padding: 8px 8px;
                    font-size: 18px;
                }
            }
        }
    }
}
